:root {
  font-family: Roboto, Arial !important;
  line-height: 1.5;
  font-weight: 400;
  background-color: #d4d5d5;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
